@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

.purple-outline {
  -webkit-text-stroke: 4px #d2c1fb;
  paint-order: stroke fill;
}
@media (min-width: 1024px) {
  .purple-outline {
    -webkit-text-stroke: 8px #d2c1fb;
    paint-order: stroke fill;
  }
}

/* Snow effect */
.snowflake {
  position: fixed;
  top: -20px;
  animation: fall linear infinite;
}

@keyframes fall {
  from {
    transform: translateY(0vh);
    opacity: 0.9;
    filter: blur(0px);
  }
  to {
    transform: translateY(100vh);
    opacity: 0;
    filter: blur(8px);
  }
}
